
.vs/eiin839/v16/.suo

.vs/slnx.sqlite

*.cache

TD1/HttpListener/.vs/HttpListener/v16/.suo

TD1/HttpListener/BasicServerHttpListener/bin/Debug/ConsoleApp3.exe

TD1/HttpListener/BasicServerHttpListener/bin/Debug/ConsoleApp3.pdb

TD1/HttpListener/BasicServerHttpListener/obj/Debug/BasicServerHTTPlistener.csproj.FileListAbsolute.txt

TD1/HttpListener/BasicServerHttpListener/obj/Debug/ConsoleApp3.exe

TD1/HttpListener/BasicServerHttpListener/obj/Debug/ConsoleApp3.pdb

*.lock

*.ide
